<div id="attachments">
  <div class="toolbar">
    <%= image_tag('admin/plus.png', :alt => 'Add') %>
  </div>
  <h3>Attachments (<span id="attachment_count"><%= @page.attachments.count %></span>)</h3>

  <%= javascript_tag "var auth_token = '#{form_authenticity_token}';" %>
  <% unless @page.attachments.count.zero? %>
  <ol id="attachment_list">
    <%= render :partial => 'attachment', :collection => @page.attachments %>
  </ol>
  <div style="clear:both;"></div>
  <% end %>
  <p id="reorder_notice" style="display:none;">Page attachments order will appear on site only when cache is cleared (on save or after 5min).</p>
</div>
