#attachments {
  clear: both;
  border: 1px solid #d4cba4;
  background: white;
  margin: 10px 0;
}
#attachments .toolbar {
  float: right;
  padding: 10px;
  width: 50px;
  text-align: right;
}
#attachments .toolbar img {
  padding: 5px;
  cursor: pointer;
}
#attachments h3, #attachments p.notice {
  background: #eae3c5;
  margin: 0;
  padding: 0.5em;
}
#attachments .attachment-upload {
  padding: 0 0.8em 0.8em 0.8em;
}
#attachments p.notice {
  padding: .5em .8em;
  font-style: italic;
  font-size: 90%;
  color: red;
}
#attachments .attachment-upload img,
#attachments .attachment img.delete {
  cursor: pointer;
  padding: 2px;
  margin-left:7px;
}
#attachments .attachment img.higher,
#attachments .attachment img.lower {
  cursor: pointer;
  padding: 2px;
  margin-left:6px;
}
#attachments ol {
  list-style-position:outside;
  padding: 10px 10px 0 10px;
  margin: 0;
}
#attachments ol li
{
  margin-left:20px;
}
#attachments ol li div
{
  float:left;width:25px;
}
#attachments ol li a.thumbnail
{
  float:left;margin:0 10px 0 10px;
}
#attachments ol li p
{
  margin:0 0 5px 0;
}
#attachments ol li
{
  margin-bottom:10px;border-bottom:1px dashed #cccccc;width:66%;padding-bottom:3px;
}

#attachments .attachment .thumbnail img {
 border: 2px solid #d4cba4;
}

#attachments p.title
{
        border-bottom:1px #EAE3C5 solid;width:66%;font-size:17px;font-weight:bold;
}
#attachments table th
{
  font-weight:bold;text-align:right;padding-right:10px;width:120px;padding-bottom:5px;
}
#attachments table td
{
 padding-bottom:5px;
}
#attachments p#reorder_notice
{
  color:#FF0000;margin:0 0 10px 20px;
}
.clearfix:after                 {content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix                       {display:inline-block;}
.clearfix                       {display:block;}
li.clearfix                     {display:list-item;}
